
{% extends "kor/base.html" %}
{% load static %}
{% block title %} Company | We Can Work {% endblock %}
{% block content %}
  <section class='company-header centered'>
    <div class='company-intro-wrapper wrapper'>
      <h2 class='section-title'>
        꿈에서 현실로: 채용을 혁신하는 방법
      </h2>
      <p class='page-intro'>
        저희는 기존의 채용 프로세스가 시대에 뒤떨어진다는 생각에서 출발하여 채용 담당자와 개발자가 보다 원활하고 효율적으로 연결될 수 있는 플랫폼을 만들고자 했습니다. 채용 혁신을 이루겠다는 소박한 꿈에서 출발하여 노력과 헌신을 통해 그 꿈을 현실로 만들었습니다. 저희 플랫폼은 채용 담당자와 개발자 모두의 요구를 충족하도록 설계되었으며, 모든 사용자에게 사용자 친화적이고 안전한 경험을 제공하게 된 것을 자랑스럽게 생각합니다. WE CAN WORK는 채용의 가능성의 한계를 끊임없이 넓혀가고 있으며, 빠르게 진화하는 이 분야를 계속 선도할 수 있게 되어 기쁩니다. 
      </p>
    </div>
    <div class='company-image-holder'></div>
  </section>
  <section class='wrapper'>
    <div class='columns company-topic'>
      <div class='column company-text-half-column'>
        <h2>
          채용 혁신:
          <span class='accent'>
            좌절에서 혁신으로
          </span>
        </h2>
        <p class='p-paragraph'>
          창업자 이재혁 대표는 기술 기업에서 채용 담당자로 일하면서 기존 채용 플랫폼의 한계에 답답함을 느꼈습니다. 그는 더 나은 무언가를 만들 수 있는 기회를 발견했고, 'We Can Work' 가 탄생했습니다.
        </p>
        <p class='p-paragraph'>
          채용 담당자와 개발자의 끊임없는 노력과 연구, 피드백을 통해 플랫폼이 구체화되기 시작했습니다. 인프라를 확장하고 플랫폼을 반복적으로 개선하여 경쟁에서 앞서나가는 등의 과제를 극복했습니다. 오늘날 전 세계 채용 담당자와 개발자가 사용하는 성공적인 플랫폼을 제공하고 있습니다.        </p>
        <p class='p-paragraph'>
          고급 검색 기능과 채용 프로세스 전반에 걸쳐 원활한 커뮤니케이션을 지원하는 메시징 시스템을 포함하도록 서비스를 확장했습니다. 앞으로도 채용 혁신을 선도하기 위해 최선을 다할 것입니다. 모두가 더 쉽고, 더 빠르고, 더 효과적으로 채용을 진행할 수 있도록 끊임없이 새로운 시장을 개척하고 서비스를 확장하고 있습니다. 귀사의 채용 니즈에 가장 적합한 인재를 찾는 여정에 함께하세요.
        </p>
      </div>
      <div class='column photo-column transparency-image'>
        
      </div>
    </div>

    <div class='columns company-topic'>
      <div class='column photo-column collaboration-image'></div>
      <div class='column company-text-half-column'>
        <h2>
          사이의 격차 해소          
          <span class='accent'>
            채용 담당자 및 개발자
                    </span>
        </h2>
        <p class='p-paragraph'>
          저희의 목표는 채용 프로세스를 혁신하고 채용 담당자와 개발자 모두의 요구를 충족하는 플랫폼을 만드는 것입니다. 적합한 인재를 찾는 과정은 원활하고 효율적이어야 하며, 채용 담당자와 개발자 모두 정보에 입각한 의사결정을 내리는 데 필요한 도구에 액세스할 수 있어야 한다고 믿습니다. 저희 플랫폼은 모든 사용자에게 사용자 친화적이고 안전한 환경을 제공하여 이러한 프로세스를 용이하게 하도록 설계되었습니다.
        </p>
        <p class='p-paragraph'>
          유니티는 채용 담당자가 채용 공고에 가장 적합한 후보자를 찾을 수 있도록 지원하는 동시에 개발자에게는 자신의 기술을 선보이고 관련 직무에 지원할 수 있는 기회를 제공하기 위해 최선을 다하고 있습니다. 유니티의 목표는 지원자가 오로지 기술, 경험, 자격으로만 평가받는 보다 투명하고 능력에 기반한 채용 프로세스를 만드는 것입니다.
        </p>
      </div>
    </div>
  </section>
  <section class='company-our-stats'>
    <div class='wrapper'>
      <h2 class='section-title'>
        왜 우리를 선택해야 할까요?
      </h2>
      <div class='columns'>
        <div class='column'>
          <span class='stats-number' style="font-size: 25px;">
            산업 전문성
          </span>
          <span class='break-word stats-title'style="font-size: 15px;">
            채용 및 기술 업계에서 다년간의 경험을 쌓은 저희 팀은 채용 담당자와 개발자의 고유한 요구사항을 충족하는 솔루션을 개발합니다.
          </span>
        </div>
        <div class='column'>
          <span class='stats-number' style="font-size: 25px;">
            사용자 중심 디자인
          </span>
          <span class='break-word stats-title'style="font-size: 15px;">
            저희는 플랫폼 디자인에 직관적이고 사용자 친화적인 경험을 우선시합니다.
          </span>
        </div>
        <div class='column'>
          <span class='stats-number' style="font-size: 25px;">
            보안 및 비공개
          </span>
          <span class='break-word stats-title' style="font-size: 15px;">
            당사는 기밀을 보호하기 위해 안전한 코딩 관행과 강력한 보안 조치를 활용하여 사용자 데이터의 보안과 개인정보 보호를 우선시합니다.
          </span>
          </div>

          <div class='column'>
            <span class='stats-number' style="font-size: 25px;">
              확장성 및 안정성
            </span>
            <span class='break-word stats-title' style="font-size: 15px;">
              확장성과 안정성을 갖춘 플랫폼으로, 대규모 사용자 기반과 채용공고를 최적의 성능과 최소한의 다운타임으로 처리할 수 있도록 설계되었습니다.
            </span>
        </div>
      </div>
    </div>
  </section>
  <section class='wrapper company-wrapper-last'>
    <div class='columns company-topic'>
      <div class='column company-text-half-column'>
        <h2>
          채용 위치
          <span class='accent'>
            혁신을 만나다
          </span>
        </h2>
        <p class='p-paragraph'>
          저희는 플랫폼을 개선하고 사용자에게 새로운 기능과 서비스를 제공하기 위해 끊임없이 노력하고 있습니다. 저희의 궁극적인 목표는 채용 담당자와 개발자 모두가 선호하는 채용 플랫폼이 되고, 인재가 적합한 기회와 쉽게 연결될 수 있는 커뮤니티를 만드는 것입니다.
        </p>
      </div>
      <div class='column photo-column responsibility-image'></div>
    </div>
    <div class='columns company-topic'>
      <div class='column testimonial-box'>
        <quote class='testimonial-content'>
          "팀은 친절하고 매우 전문적이며, 우리의 아이디어와 요청에 대해 인상적인 반응과 인내심으로 프로세스를 안내해 주었습니다. 최종 결과물에 매우 만족하며 다른 사람들에게도 We Can Work를 기꺼이 추천하고 싶습니다."
        </quote>
        <div class='testimonial-face mia'></div>
        <p class='testimonial-client'>
          <strong>레쥴 하케</strong>
          <br>
          Co-founder at&nbsp;RSQube
        </p>
      </div>
      <div class='column company-text-half-column'>
        <h2>
          우리는 의미 있는 일을 하고
          <span class='accent'>
            우리는 잘 해냅니다.
          </span>
        </h2>
        <p class='p-paragraph'>
          의미 있는 일을 하고 이를 잘 수행한다는 것은 고객과 커뮤니티에 가치를 제공하겠다는 약속을 반영하는 것입니다. 우리는 긍정적인 영향을 미치고 고품질의 결과를 제공하는 것이 중요하다고 믿으며, 업무의 모든 측면을 통해 이를 달성하기 위해 노력합니다.
        </p>
        <p class='p-paragraph'>
          저희 팀은 우수성을 위해 최선을 다하고 있으며, 서비스와 솔루션이 고객의 요구를 충족하고 기대치를 뛰어넘을 수 있도록 끊임없이 노력하고 있습니다.
        </p>
      </div>
    </div>
    
  </section>
  <section class='cta-box centered'>
    <div class='cta-box-card'>
      <h2>다음 프로젝트에서 저희와 함께 작업하세요!</h2>
      <a class="btn-round btn-primary" href="{% url 'korContact' %}">문의하기</a>
    </div>
  </section>
{% endblock %}