
{% extends "base.html" %}
{% load static %}
{% block title %} Company | We Can Work {% endblock %}
{% block content %}
  <section class='company-header centered'>
    <div class='company-intro-wrapper wrapper'>
      <h2 class='section-title'>
        From a Dream to a Reality: How We're Revolutionizing Recruitment
      </h2>
      <p class='page-intro'>
        Our company was founded on the idea that the traditional recruitment process was outdated, and we wanted to create a platform that made it easier for recruiters and developers to connect in a more seamless and efficient way. We started with a simple dream of revolutionizing recruitment, and through hard work and dedication, we have turned that dream into a reality. Our platform is designed to meet the needs of both recruiters and developers, and we are proud to offer a user-friendly and secure experience for all of our users. At WE CAN WORK, we are constantly pushing the boundaries of what's possible in recruitment, and we are excited to continue leading the way in this rapidly evolving field.
      </p>
    </div>
    <div class='company-image-holder'></div>
  </section>
  <section class='wrapper'>
    <div class='columns company-topic'>
      <div class='column company-text-half-column'>
        <h2>
          Revolutionizing Recruitment: 
          <span class='accent'>
            From Frustration to Innovation
          </span>
        </h2>
        <p class='p-paragraph'>
          Our founder, Jane, was frustrated with the limitations of existing recruitment platforms while working as a recruiter for a tech company. She saw an opportunity to create something better, and WE CAN WORK was born.
        </p>
        <p class='p-paragraph'>
          Through tireless efforts, research, and feedback from recruiters and developers, the platform began to take shape. Challenges such as scaling infrastructure and iterating the platform to stay ahead of the competition were overcome. Today, WE CAN WORK is a thriving platform used by recruiters and developers worldwide.
        </p>
        <p class='p-paragraph'>
          We've expanded our services to include advanced search functionality and a messaging system that enables seamless communication throughout the recruitment process. Looking to the future, we're committed to leading the way in recruitment disruption. We're constantly exploring new markets and expanding our offerings to make recruitment easier, faster, and more effective for everyone. Join us on this journey to find the perfect match for your recruitment needs.
        </p>
      </div>
      <div class='column photo-column transparency-image'>
        
      </div>
    </div>

    <div class='columns company-topic'>
      <div class='column photo-column collaboration-image'></div>
      <div class='column company-text-half-column'>
        <h2>
          Bridging the Gap between
          <span class='accent'>
            Recruiters and Developers
          </span>
        </h2>
        <p class='p-paragraph'>
          Our goal is to revolutionize the recruitment process and create a platform that meets the needs of both recruiters and developers. We believe that finding the right talent should be a seamless and efficient process, and that both recruiters and developers should have access to the tools they need to make informed decisions. Our platform is designed to facilitate this process by providing a user-friendly and secure experience for all of our users.
        </p>
        <p class='p-paragraph'>
          We are committed to helping recruiters find the best candidates for their job openings, while also providing developers with the opportunity to showcase their skills and apply for relevant job opportunities. Our goal is to make recruitment a more transparent and merit-based process, where candidates are judged solely on their skills, experience, and qualifications.
        </p>
        <!-- <p>
          Read about
          <a href="https://blog.lunarlogic.io/tags/culture/">How No Management Work in Lunar Logic</a>
        </p> -->
      </div>
    </div>
  </section>
  <section class='company-our-stats'>
    <div class='wrapper'>
      <h2 class='section-title'>
        Why Choose Us?
      </h2>
      <div class='columns'>
        <div class='column'>
          <span class='stats-number' style="font-size: 25px;">
            Industry Expertise
          </span>
          <span class='break-word stats-title'style="font-size: 15px;">
            With years of experience in the recruitment and tech industries, our team creates solutions that meet the unique needs of recruiters and developers.
          </span>
        </div>
        <div class='column'>
          <span class='stats-number' style="font-size: 25px;">
            User-Focused Design
          </span>
          <span class='break-word stats-title'style="font-size: 15px;">
            We prioritize intuitive and user-friendly experience for our platform's design.
          </span>
        </div>
        <div class='column'>
          <span class='stats-number' style="font-size: 25px;">
            Secure and Private
          </span>
          <span class='break-word stats-title' style="font-size: 15px;">
            We prioritize the security and privacy of user data by utilizing secure coding practices and robust security measures to protect confidentiality.
          </span>
          </div>

          <div class='column'>
            <span class='stats-number' style="font-size: 25px;">
              Scalable and Reliable
            </span>
            <span class='break-word stats-title' style="font-size: 15px;">
              Our platform is scalable and reliable, built to handle a large user base and job postings with optimal performance and minimal downtime.            </span>
        </div>
      </div>
    </div>
  </section>
  <section class='wrapper company-wrapper-last'>
    <div class='columns company-topic'>
      <div class='column company-text-half-column'>
        <h2>
          Where Recruitment 
          <span class='accent'>
            Meets Innovation
          </span>
        </h2>
        <p class='p-paragraph'>
          We are constantly striving to improve our platform and offer new features and services to our users. Our ultimate goal is to become the go-to recruitment platform for both recruiters and developers, and to create a community where talent can easily connect with the right opportunities.
        </p>
      </div>
      <div class='column photo-column responsibility-image'></div>
    </div>
    <div class='columns company-topic'>
      <div class='column testimonial-box'>
        <quote class='testimonial-content'>
          „The team is friendly and highly professional, and they have guided us through the process with impressive
          responsiveness and patience with our ideas and requests. We are very happy with the end product and would
          gladly recommend We Can Work to others.“
        </quote>
        <div class='testimonial-face mia'></div>
        <p class='testimonial-client'>
          <strong>Mia Pantzar</strong>
          <br>
          Policy Analyst and Communications Officer at&nbsp;IEEP
        </p>
      </div>
      <div class='column company-text-half-column'>
        <h2>
          We do meaningful work and
          <span class='accent'>
            we do it well
          </span>
        </h2>
        <p class='p-paragraph'>
          We do meaningful work and we do it well" is a reflection of our commitment to providing value to our clients and the community. We believe in the importance of making a positive impact and delivering high-quality results, and we strive to achieve this through every aspect of our work.
        </p>
        <p class='p-paragraph'>
          Our team is dedicated to excellence, and we work tirelessly to ensure that our services and solutions meet the needs of our clients and exceed their expectations.
        </p>
      </div>
    </div>
    
  </section>
  <section class='cta-box centered'>
    <div class='cta-box-card'>
      <h2>Work with us on your next project!</h2>
      <a class="btn-round btn-primary" href="{% url 'Contact' %}">Contact us</a>
    </div>
  </section>
{% endblock %}