
{% extends "base.html" %}
{% load static %}
{% block title %} Search Result | We Can Work 
{% endblock %}

{% block content %}

  <div class='portfolio-wrapper wrapper'>
    <div class='portfolio-intro centered'>
      <h1 class='section-title'>
        19 years
        <span class='break-word'>150+ projects</span>
      </h1>
      <div class='portfolio-legend'>
        <div class='icons'>
          <div class='icon-box web'>web</div>
          <div class='icon-box mobile'>mobile</div>
          <div class='icon-box design'>design</div>
          <div class='icon-box tests'>testing</div>
        </div>
      </div>
      <p class='page-intro'>
        We are Ruby on Rails developers who love crafting web applications using the latest, cutting edge technology.
        Our team is used to working with remote, overseas clients, including startups, NGOs, corporations and private
        investors.
      </p>
    </div>
    <h2 class='section-subtitle centered'>Companies that trusted us</h2>
    <div class='portfolio-grid'>
      <div class='project-teaser-wrapper featured'>
        <a class="project-teaser-link" href="portfolio/aircasting-mobile.html">
          <div class='project-teaser'>
            <div class='project-image-container aircasting-mobile'>
              <img alt="AirCasting - an iOS and Android app for collaborative air pollution mapping"
                src="{% static 'images/projects/teasers/teaser-aircasting-mobile-e41e4b9732d115d824209a8cd1c459207af7f456962e088eaf3d57f8ab07b1c5.jpg' %}" />
            </div>
            <div class='project-teaser-box'>
              <p class='teaser-name'>
                AirCasting Mobile App
              </p>
              <p class='see-details'>
                See project details →
              </p>
            </div>
          </div>
        </a>
        <div class='teaser-domains'>
          <span class='teaser-domain-tag'>NGO</span>
          <span class='teaser-domain-tag'>Greentech</span>
        </div>
        <h3 class='project-teaser-name'>
          <a class="project-teaser-name__link" href="portfolio/aircasting-mobile.html">AirCasting Mobile App</a>
        </h3>
      </div>
      <div class='project-teaser-wrapper featured'>
        <a class="project-teaser-link" href="portfolio/philips.html">
          <div class='project-teaser'>
            <div class='project-image-container philips'>
              <img alt="ActiveLink - a user activity wearable monitor"
                src="{% static 'images/projects/teasers/teaser-philips-310f27ca38f9e766bca89dfe08ddc75a63e79848a5038e42a51b36bdf0fd3789.jpg' %}" />
            </div>
            <div class='project-teaser-box'>
              <p class='teaser-name'>
                Philips ActiveLink
              </p>
              <p class='see-details'>
                See project details →
              </p>
            </div>
          </div>
        </a>
        <div class='teaser-domains'>
          <span class='teaser-domain-tag'>fitness</span>
          <span class='teaser-domain-tag'>health</span>
        </div>
        <h3 class='project-teaser-name'>
          <a class="project-teaser-name__link" href="portfolio/philips.html">Philips ActiveLink</a>
        </h3>
      </div>
      <div class='project-teaser-wrapper featured'>
        <a class="project-teaser-link" href="portfolio/givedish.html">
          <div class='project-teaser'>
            <div class='project-image-container givedish'>
              <img alt="GiveDish - Give. Good. Dish."
                src="{% static 'images/projects/teasers/teaser-givedish-d1a172ebdb60a02b820056c40166be2ad454925451c0f77b6bb3c5d0673327b7.jpg' %}" />
            </div>
            <div class='project-teaser-box'>
              <p class='teaser-name'>
                GiveDish
              </p>
              <p class='see-details'>
                See project details →
              </p>
            </div>
          </div>
        </a>
        <div class='teaser-domains'>
          <span class='teaser-domain-tag'>food</span>
          <span class='teaser-domain-tag'>charity</span>
          <span class='teaser-domain-tag'>social media</span>
        </div>
        <h3 class='project-teaser-name'>
          <a class="project-teaser-name__link" href="portfolio/givedish.html">GiveDish</a>
        </h3>
      </div>
      <div class='project-teaser-wrapper featured'>
        <a class="project-teaser-link" href="portfolio/ieep.html">
          <div class='project-teaser'>
            <div class='project-image-container ieep'>
              <img alt="IEEP - The Institute of European Environmental Policy"
                src="{% static 'images/projects/teasers/teaser-ieep-28fdfe6387138b286fe499d645d3cb42dbdab60433184d04272b19683fdd59e3.jpg' %}" />
            </div>
            <div class='project-teaser-box'>
              <p class='teaser-name'>
                IEEP
              </p>
              <p class='see-details'>
                See project details →
              </p>
            </div>
          </div>
        </a>
        <div class='teaser-domains'>
          <span class='teaser-domain-tag'>NGO</span>
          <span class='teaser-domain-tag'>greentech</span>
        </div>
        <h3 class='project-teaser-name'>
          <a class="project-teaser-name__link" href="portfolio/ieep.html">IEEP</a>
        </h3>
      </div>
      <div class='project-teaser-wrapper desktop-only'>
        <a class="project-teaser-link" href="portfolio/aircasting.html">
          <div class='project-teaser'>
            <div class='project-image-container aircasting'>
              <img alt="AirCasting - a web and Android app for collaborative air pollution mapping"
                src="{% static 'images/projects/teasers/teaser-aircasting-232b0bc908ada80086458f0c45f4fcd225406b09b0c765ef7e24931edae2bb81.jpg' %}" />
            </div>
            <div class='project-teaser-box'>
              <p class='teaser-name'>
                AirCasting
              </p>
              <p class='see-details'>
                See project details →
              </p>
            </div>
          </div>
        </a>
        <div class='teaser-domains'>
          <span class='teaser-domain-tag'>NGO</span>
          <span class='teaser-domain-tag'>Greentech</span>
        </div>
        <h3 class='project-teaser-name'>
          <a class="project-teaser-name__link" href="portfolio/aircasting.html">AirCasting</a>
        </h3>
      </div>
      <div class='project-teaser-wrapper featured'>
        <a class="project-teaser-link" href="portfolio/hypoguide.html">
          <div class='project-teaser'>
            <div class='project-image-container hypoguide'>
              <img alt="Hypoguide - an online banking platform"
                src="{% static 'images/projects/teasers/teaser-hypoguide-688b7b6216bf96135882d0f26d81f49d0693dec34203b0c4db64193585e92f2f.jpg' %}" />
            </div>
            <div class='project-teaser-box'>
              <p class='teaser-name'>
                Hypoguide
              </p>
              <p class='see-details'>
                See project details →
              </p>
            </div>
          </div>
        </a>
        <div class='teaser-domains'>
          <span class='teaser-domain-tag'>fintech</span>
        </div>
        <h3 class='project-teaser-name'>
          <a class="project-teaser-name__link" href="portfolio/hypoguide.html">Hypoguide</a>
        </h3>
      </div>
      <div class='project-teaser-wrapper featured'>
        <a class="project-teaser-link" href="portfolio/hypoauktion.html">
          <div class='project-teaser'>
            <div class='project-image-container hypoauktion'>
              <img alt="Hypoauktion - an online banking platform"
                src="{% static 'images/projects/teasers/teaser-hypoauktion-699273a9e5fd27a7dfe09fadc98a570d023816780a366d758e6f9f6310151e69.jpg' %}" />
            </div>
            <div class='project-teaser-box'>
              <p class='teaser-name'>
                Hypoauktion
              </p>
              <p class='see-details'>
                See project details →
              </p>
            </div>
          </div>
        </a>
        <div class='teaser-domains'>
          <span class='teaser-domain-tag'>fintech</span>
        </div>
        <h3 class='project-teaser-name'>
          <a class="project-teaser-name__link" href="portfolio/hypoauktion.html">Hypoauktion</a>
        </h3>
      </div>
      <div class='project-teaser-wrapper desktop-only'>
        <a class="project-teaser-link" href="portfolio/betdash.html">
          <div class='project-teaser'>
            <div class='project-image-container betdash'>
              <img alt="BetDash - a social web application for sports betting"
                src="{% static 'images/projects/teasers/teaser-betdash-47747d8ab9889712d3fc09083f53eed025dff3d4e4ee4467c80f6f29ab65f3b2.jpg' %}" />
            </div>
            <div class='project-teaser-box'>
              <p class='teaser-name'>
                BetDash
              </p>
              <p class='see-details'>
                See project details →
              </p>
            </div>
          </div>
        </a>
        <div class='teaser-domains'>
          <span class='teaser-domain-tag'>Sport</span>
          <span class='teaser-domain-tag'>Entertainment</span>
          <span class='teaser-domain-tag'>Social</span>
        </div>
        <h3 class='project-teaser-name'>
          <a class="project-teaser-name__link" href="portfolio/betdash.html">BetDash</a>
        </h3>
      </div>
      <div class='project-teaser-wrapper desktop-only'>
        <a class="project-teaser-link" href="portfolio/skirmish.html">
          <div class='project-teaser'>
            <div class='project-image-container skirmish'>
              <img alt="Skirmish - a place for game developers and designers"
                src="{% static 'images/projects/teasers/teaser-skirmish-eca3ecade4ab0e1b72b39055e017b43e783edce81a42c6f387bd188859207e51.jpg' %}" />
            </div>
            <div class='project-teaser-box'>
              <p class='teaser-name'>
                Skirmish
              </p>
              <p class='see-details'>
                See project details →
              </p>
            </div>
          </div>
        </a>
        <div class='teaser-domains'>
          <span class='teaser-domain-tag'>game development</span>
        </div>
        <h3 class='project-teaser-name'>
          <a class="project-teaser-name__link" href="portfolio/skirmish.html">Skirmish</a>
        </h3>
      </div>
      <div class='project-teaser-wrapper featured'>
        <a class="project-teaser-link" href="portfolio/funding-circle.html">
          <div class='project-teaser'>
            <div class='project-image-container funding-circle'>
              <img alt="Funding Circle - a peer-to-peer lending platform"
                src="{% static 'images/projects/teasers/teaser-funding-circle-b36d8c801670509d0e94174be2a35d810b05a888f3b9c3bdbd5efa1ef492e3db.jpg' %}" />
            </div>
            <div class='project-teaser-box'>
              <p class='teaser-name'>
                Funding Circle
              </p>
              <p class='see-details'>
                See project details →
              </p>
            </div>
          </div>
        </a>
        <div class='teaser-domains'>
          <span class='teaser-domain-tag'>fintech</span>
        </div>
        <h3 class='project-teaser-name'>
          <a class="project-teaser-name__link" href="portfolio/funding-circle.html">Funding Circle</a>
        </h3>
      </div>
      <div class='project-teaser-wrapper desktop-only'>
        <a class="project-teaser-link" href="portfolio/toucanbox.html">
          <div class='project-teaser'>
            <div class='project-image-container toucanbox'>
              <img alt="toucanBox - a web shop for a creative materials"
                src="{% static 'images/projects/teasers/teaser-toucanbox-12f42233e448bc7b2745b95e17ac2244eb6e774bbe8658dc4804e2377e33b796.jpg' %}" />
            </div>
            <div class='project-teaser-box'>
              <p class='teaser-name'>
                Toucan Box
              </p>
              <p class='see-details'>
                See project details →
              </p>
            </div>
          </div>
        </a>
        <div class='teaser-domains'>
          <span class='teaser-domain-tag'>eCommerce</span>
          <span class='teaser-domain-tag'>Edutech</span>
        </div>
        <h3 class='project-teaser-name'>
          <a class="project-teaser-name__link" href="portfolio/toucanbox.html">Toucan Box</a>
        </h3>
      </div>
      <div class='project-teaser-wrapper desktop-only'>
        <a class="project-teaser-link" href="portfolio/unep.html">
          <div class='project-teaser'>
            <div class='project-image-container unep'>
              <img alt="UNEP-WCMC - a biodiversity assesment organization"
                src="{% static 'images/projects/teasers/teaser-unep-7d5bd936b3b45b71fd0f4d8cd998ab4d283013dcff7ac68a7399de97f1d92ac2.jpg' %}" />
            </div>
            <div class='project-teaser-box'>
              <p class='teaser-name'>
                UNEP-WCMC
              </p>
              <p class='see-details'>
                See project details →
              </p>
            </div>
          </div>
        </a>
        <div class='teaser-domains'>
          <span class='teaser-domain-tag'>NGO</span>
          <span class='teaser-domain-tag'>greentech</span>
        </div>
        <h3 class='project-teaser-name'>
          <a class="project-teaser-name__link" href="portfolio/unep.html">UNEP-WCMC</a>
        </h3>
      </div>
      <div class='project-teaser-wrapper desktop-only'>
        <a class="project-teaser-link" href="portfolio/soundbetter.html">
          <div class='project-teaser'>
            <div class='project-image-container soundbetter'>
              <img alt="SoundBetter - a web music ad board"
                src="{% static 'images/projects/teasers/teaser-soundbetter-7ddb8b8a0ad78ff3187f70139276d4a86ee5ac16c6bdd7c49a0bac67f6474859.jpg' %}" />
            </div>
            <div class='project-teaser-box'>
              <p class='teaser-name'>
                SoundBetter
              </p>
              <p class='see-details'>
                See project details →
              </p>
            </div>
          </div>
        </a>
        <div class='teaser-domains'>
          <span class='teaser-domain-tag'>Music</span>
          <span class='teaser-domain-tag'>Marketplace</span>
          <span class='teaser-domain-tag'>eCommerce</span>
        </div>
        <h3 class='project-teaser-name'>
          <a class="project-teaser-name__link" href="portfolio/soundbetter.html">SoundBetter</a>
        </h3>
      </div>
    </div>
  </div>
  <section class='cta-box centered'>
    <div class='cta-box-card'>
      <h2>Let’s talk about your&nbsp;idea!</h2>
      <a class="btn-round btn-primary" href="contact.html">Contact us</a>
    </div>
  </section>

{% endblock %}